<div class="container">
	<div class="row">
		<div class="footer">
		<div class="col-sm-4">
			<h2 class="text-danger">Refer Link</h2>
			<li><a href="https://www.w3schools.com">W3School</a></li>
			<li><a href="https://angular.io">Angular</a></li>
			<li><a href="https://www.w3schools.com/bootstrap/default.asp">Bootstrap</a></li>
		</div>
		<div class="col-sm-4">
			<h2 class="text-danger">Quick Link</h2>
			<li><a href="https://www.w3schools.com/bootstrap/default.asp">Bootstrap</a></li>
			<li><a href="https://angular.io">Angular</a></li>
			<li><a href="https://www.w3schools.com/html/default.asp">HTML</a></li>
		</div>
		<div class="col-sm-4">
			<h2 class="text-danger">Contact Us</h2>
			<li><a href="https://www.w3schools.com/css/default.asp">CSS</a></li>
			<li><a href="https://angular.io">Angular</a></li>
			<li><a href="https://www.w3schools.com/php/default.asp">PHP</a></li>
		</div>
	</div>
</div>
</div>
