<div class="container">
	<div class="row">
		
			<div style="background-image: url(assets/images/img4.jpg);background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">
				<p style="padding:100px; color:#0FF;" class="text-info">Dear Walter, Thank you it works. However could you please explain the reason for this.
Is it something related to the fact that its 1-D array having row fixed and the number of columns would be changing
Walter Roberson  on 20 Mar 2017
The ImageLocation property is not the list of images: it is the list of directories in which the images are to be found.
Indexing the imageset at (1) talks about the first directory out of the list. read() with an index is what is used to imread() in the individual images from the directory.</p>
			</div>
	</div>
</div>
